* {
    margin: 0;
    padding: 0;
    transition: all .2s;
}

html {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "SegoeUIRegular";
}

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
    text-align: right;
}

#main-fix {
    background-color: #fff;
    width: 96.6%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 18px 2.3% 18px 1.1%;
    box-shadow: 0 0 4px 0 #1298dd, 0 0 5px 0 #000;
}

#main-fix a {
    float: right;
    color:  #676767;
    font-size: 16px;
}

#main-fix a:hover {
    text-decoration: underline;
}

#header {
    margin-top: 57px;
    width: 100%;
    height: 540px;
    background: #000 url("../img/head_bg.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: left;
}

.header-text {
    float: right;
    width: 715px;
}

#header h1 {
    font-family: "SegoeUIBold";
    text-transform: uppercase;
    font-size: 55px;
    padding: 191px 0 0 0;
    line-height: 55px;
}

#header h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
}

#header a {
    display: block;
    float: right;
    width: 222px;
    height: 141px;
    background-color: #1298dd;
    margin-top: 191px;
    margin-left: 2.5%;
    font-size: 24px;
    line-height: 141px;
    text-align: center;
}

#header a:hover {
    background-color: #1280bf;
}

#verbiage {
    width: 100%;
    background-color: #fff;
    margin-top: 64px;
    float: left;
}

.article {
    color:  #676767;
    font-size: 24px;
    margin: 12.24% 8% 0 10.6%;
    width: 77.6%;
    background: url("../img/line-vertical.png") repeat-y;
    padding-left: 3.8%;
    line-height: 40px;
    position: relative;
}

#verbiage .article h3 {
    line-height: 16px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.btn {
    display: block;
    width: 158px;
    height: 51px;
    border: 3px solid #1298dd;
    border-radius: 8px;
    color: #1298dd;
    margin-left: 14.4%;
    margin-top: 60px;
    font-size: 18px;
    line-height: 48px;
    text-align: center;

}

.btn:hover {
    color: #fff;
    background-color: #1298dd;
}

.btn:active {
    color: #fff;
    background-color: #1280bf;
    border-color: #1280bf;
}

#verbiage img {
    width: 45%;
    margin-right: 5%;
    float: right;
}

#advert {
    margin-top: 59px;
    background: #000 url("../img/home-middle_bg.jpg") no-repeat center;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    line-height: 72px;
    text-align: center;
    padding: 121px 0 116px 0;
    letter-spacing: 2px;
}

#answer .article {
    float: left;
    margin: 99px 4% 90px 5.3%;
    width: 38.8%;
    padding-left: 1.9%;
}

#answer h3 {
    text-transform: uppercase;
    color: #1298dd;
    margin-top: -10px;
    margin-bottom: 38px;
    font-size: 30px;
    font-weight: 600;
}

#answer p:not(:last-child) {
    margin-bottom: 17px;
}

#answer .btn {
    margin-left: 0;
    width: 242px;
}

footer {
    background-color: #1298dd;
    height: 200px;
    color: #fff;
    padding: 42px 8.3% 0 7.2%;
}

footer h4 {
    font-family: TrajanPro;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

footer>.left>p {
    font-size: 18px;
    line-height: 36px;
}

footer>.left>p>a {
    text-decoration: underline;
}

footer>.right>a {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

footer>.right>a:hover, footer>.left>p>a:hover {
    opacity: 0.8;
}



