@media only screen and (max-width: 1589px) {
    .article {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1326px) {
    #verbiage .btn {
        margin-left: 100%;
        margin-top: 120px;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 1220px) {
    #verbiage .btn {
        margin-left: 100%;
        transform: translateX(-50%);
        margin-top: 80px;
    }
}

@media only screen and (max-width: 1112px) {
    #verbiage .btn {
        margin-left: 100%;
        transform: translateX(-50%);
        margin-top: 60px;
    }
}

@media only screen and (max-width: 1014px) {
    #verbiage img {
        width: 49%;
        margin-right: 1%;
    }
}

@media only screen and (max-width: 979px) {
    #header {
        position: relative;
        height: 500px;
    }
    .header-text {
        float: none;
        margin: 0 auto;
    }
    #header a {
        float: none;
        position: absolute;
        height: 50px;
        line-height: 50px;
        border-radius: 8px;
        top: 290px;
        left: 50%;
        margin: 0;
        transform: translateX(-50%);
    }
    #header h2 {
        text-align: center;
    }
    #header h1 {
        padding-top: 121px;
    }
}

@media only screen and (max-width: 931px) {
    #verbiage .btn {
        margin-left: 130%;
        transform: translateX(-50%);
        margin-top: -80px;
    }
    #answer .btn {
        margin-top: 20px;
    }
    #answer h3 {
        margin-bottom: 23px;
    }
    #verbiage img {
        width: 39%;
    }
    #verbiage .left {
        width: 60%;
    }
    #answer p {
        line-height: normal;
    }
}

@media only screen and (max-width: 850px) {
    #advert {
        font-size: 36px;
        line-height: 54px;
        padding: 30px 0 30px 0;
    }
    footer .left {
        width: 70%;
    }
    footer .right {
        width: 30%;
    }
}


@media only screen and (max-width: 785px) {
    #verbiage img {
        display: none;
    }
    #verbiage .left {
        width: 100%;
    }
    #verbiage .btn {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
    #verbiage .article {
        margin-left: 5.3%;
    }
}

@media only screen and (max-width: 715px) {
    .header-text {
        width: 600px;
    }
    #header h1 {
        font-size: 46px;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        height: 350px;
    }
    .header-text {
        width: 320px;
    }
    #header h1 {
        font-size: 24px;
        padding-top: 81px;
    }
    #header h2 {
        font-size: 18px;
        line-height: 24px;
    }
    #header a {
        top: 210px;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        width: 140px;
    }
    .article {
        font-size: 18px;
        line-height: 28px;
    }
    #answer h3 {
        font-size: 20px;
    }
    #advert {
        font-size: 30px;
        line-height: 45px;
    }
    #answer .btn {
        width: 158px;
    }
    footer .right {
        display: none;
    }
    footer .left {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #answer .article {
        float: none;
        width: 89.4%;
        margin: 90px 5.3%;
    }
}

@media only screen and (max-width: 450px) {
    #advert {
        font-size: 24px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 388px) {
    #main-fix a {
        font-size: 10px;
    }
    #advert {
        font-size: 18px;
        line-height: 27px;
    }
    #verbiage .article {
        font-size: 14px;
        line-height: 22px;
    }
    #verbiage .article h3 {
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 14px;
    }
}

@media only screen and (max-width: 357px) {
    footer>.left>p {
        font-size: 12px;
        line-height: 22px;
    }
}